<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <ol>
            {% for animal in animals %}
                <li>
                    Nome: {{ animal.name }}
                    Espécie: {{ animal.species }}
                    Idade: {{ animal.age }}
                    Cidade: {{ animal.city }}
                    Castrado: {{ animal.castrated }}
                    Raça: {{ animal.breed }}
                </li>
            {% endfor %}
        </ol>


</body>
</html>