<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<header>
    {% include 'global/partials/menu.html' %}
</header>
<body>
    <ol>
        <div class="main-content">
            <form action="{% url 'create' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <li>{{ field.label }} {{ field }}
            {% if field.help_text %}
                {{ field.help_text }}
            {% endif %}
            </li>
            {% endfor %}
            <button type="submit">Send</button>
            {% for message in messages %}
            <div class="message {{ message.tags }}">
            {{ message }}
            {% endfor %}
            </div>
            </form>
        </div>
    </ol>
    </h1>
</body>
</html>