<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<header>
    {% include 'global/partials/menu.html' %}
</header>
    <ol>
        <div class="main-content">
            <form action="{% url 'pet-create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <li>{{ field.label }} {{ field }}
            {% if field.help_text %}
                {{ field.help_text }}
            {% endif %}
            {% if field.errors %}
            {{ field.errors }}
            {% endif %}
            </li>
            {% endfor %}
            <button type="submit">Send</button>
            </form>
        </div>
    </ol>
    </h1>
</body>
</html>